# Vercel Blob Configuration
# Add this token from your Vercel Dashboard -> Storage -> Vercel Blob
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_..."

# Admin Password
# Create a simple password here that you will type in to upload a new picture.
# Remember to also add this password to your Environment Variables in the Vercel Dashboard!
ADMIN_PASSWORD="your_secret_password"
